version: "3.9"

services:
  api:
    build: .
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_HOSTNAME: db
    volumes:
      - .:/app
      - /app/.venv

  db:
    image: postgres:16
    container_name: fastapi_postgres
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
